@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-light-background text-light-on-background dark:bg-dark-background dark:text-dark-on-background;
  }
}

@layer utilities {
  .bg-techdev-gradient-linear {
    background: rgb(235, 105, 90);
    background: linear-gradient(
      90deg,
      rgba(235, 105, 90, 1) 0%,
      rgba(233, 132, 98, 1) 35%,
      rgba(99, 112, 185, 1) 80%,
      rgba(161, 100, 153, 1) 100%
    );
  }

  .bg-techdev-gradient-radial {
    background: rgb(235, 105, 90);
    background: radial-gradient(
      circle,
      rgba(235, 105, 90, 1) 0%,
      rgba(233, 132, 98, 1) 35%,
      rgba(99, 112, 185, 1) 80%,
      rgba(161, 100, 153, 1) 100%
    );
  }
  .text-techdev-gradient-linear {
    background: rgb(235, 105, 90);
    background: linear-gradient(
      90deg,
      rgba(235, 105, 90, 1) 0%,
      rgba(233, 132, 98, 1) 35%,
      rgba(99, 112, 185, 1) 80%,
      rgba(161, 100, 153, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-techdev-gradient-radial {
    background: rgb(235, 105, 90);
    background: radial-gradient(
      circle,
      rgba(235, 105, 90, 1) 0%,
      rgba(233, 132, 98, 1) 35%,
      rgba(99, 112, 185, 1) 80%,
      rgba(161, 100, 153, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes shadow-pulse {
    /* shadow 0px 0px 20px rgba(233, 132, 98, 0.5); */
    0% {
      box-shadow: 0px 0px 0px rgba(233, 132, 98, 0.5);
    }
    50% {
      box-shadow: 0px 0px 20px rgba(233, 132, 98, 0.5);
    }
    100% {
      box-shadow: 0px 0px 0px rgba(233, 132, 98, 0.5);
    }
  }

  .shadow-pulse {
    animation: shadow-pulse 1s infinite;
  }
}
